<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Components Page Mapping -->
    <add key="Col1" value="5"/>
    <add key="Col2" value="343"/>
    <add key="Col3" value="681"/>

    <add key="Row1" value="55"/>
    <add key="Row2" value="280"/>

    <!-- Component size -->
    <add key="CompHeight" value="330"/>
    <add key="CompWidth" value="220"/>
    <!-- Display size-->
    <add key="DispHeight" value="530"/>
    <add key="DispWidth" value="1038"/>
    
    <!--IMOMS Display Background-->
    <add key="BackgorundImage" value="background/IMOMS.png"/>
    

    <!-- Folders -->
    <add key="CompFolder" value="C:\DSVMockupFramework\CompFolder"/>
    <add key="DisplayConfigFilesFolder" value="C:\DSVMockupFramework\DisplayConfigFilesFolder"/>
    
    
    
  </appSettings>
</configuration>